repos:
- repo: https://github.com/pre-commit/mirrors-prettier
  rev: 'v4.0.0-alpha.8'  # Use the sha / tag you want to point at
  hooks:
  - id: prettier
    types_or: [css, javascript]
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.11.10
  hooks:
    # Run the linter.
    - id: ruff
      args: [ --fix ]

