:root {
  /* This variable mirrors the per-side margin the PyData Sphinx Theme applies to the
     children of the admonitions. FIXME later; find a way to keep this stable */
  --jls-admonition-indent: 1.4rem;
}

.jupyterlite_sphinx_raw_iframe {
  border-width: 1px;
  border-style: solid;
  border-color: #d8d8d8;
  box-shadow: 0 0.2rem 0.5rem #d8d8d8;
}

.jupyterlite_sphinx_iframe_container {
  border-width: 1px;
  border-style: solid;
  border-color: #d8d8d8;
  position: relative;
  cursor: pointer;
  box-shadow: 0 0.2rem 0.5rem rgba(19, 23, 29, 0.4);
  margin-bottom: 1.5rem;
}

.jupyterlite_sphinx_iframe {
  z-index: 1;
  position: relative;
  border-style: none;
}

.jupyterlite_sphinx_try_it_button {
  z-index: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  height: 100px;
  width: 100px;
  line-height: 100px;
  text-align: center;
  white-space: nowrap;
  background-color: #f7dc1e;
  color: #13171d;
  border-radius: 50%;
  font-family: vibur;
  font-size: larger;
  box-shadow: 0 0.2rem 0.5rem rgba(19, 23, 29, 0.4);
}

.try_examples_outer_container {
  position: relative;
}

.hidden {
  display: none;
}

.jupyterlite_sphinx_spinner {
  /* From https://css-loaders.com/spinner/ */
  position: absolute;
  z-index: 0;
  top: 50%;
  left: 50%;
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  background:
    radial-gradient(farthest-side, #ffa516 94%, #0000) top/8px 8px no-repeat,
    conic-gradient(#0000 30%, #ffa516);
  mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  animation: l13 1s infinite linear;
}
@keyframes l13 {
  100% {
    transform: rotate(1turn);
  }
}

/*
 * A hack to fix the JupyterLite iframes overflowing admonitions in the PyData Sphinx Theme,
 * (notwithstanding any contemporary themes we don't verify in our CI against).
 *
 * The pydata-sphinx-theme applies margins to every sibling of the admonition title:
 * https://github.com/pydata/pydata-sphinx-theme/blob/213af5a59dd18500fdc3b82fb49afc89a54fff33/src/pydata_sphinx_theme/assets/styles/content/_admonitions.scss#L28-L32
 *
 *   .admonition p.admonition-title ~ *,
 *   div.admonition p.admonition-title ~ * {
 *     margin-left: 1.4rem;
 *     margin-right: 1.4rem;
 *   }
 *
 * Because the JupyterLite iframe container already carries a width="100%" (of the
 * admonition's content box, that is), the extra 1.4rem on each side pushes the
 * rendered width to 100% + 2.8rem and causes a visible overflow to the right. We
 * tackle this below. */

/* non-prompted case: the bare <iframe> emitted by _PromptedIframe.html() */
.admonition p.admonition-title ~ iframe.jupyterlite_sphinx_raw_iframe,
div.admonition p.admonition-title ~ iframe.jupyterlite_sphinx_raw_iframe {
  width: calc(100% - 2 * var(--jls-admonition-indent));
}

/* prompted case: <div class="jupyterlite_sphinx_iframe_container"> */
.admonition p.admonition-title ~ div.jupyterlite_sphinx_iframe_container,
div.admonition p.admonition-title ~ div.jupyterlite_sphinx_iframe_container {
  width: calc(100% - 2 * var(--jls-admonition-indent));
}
