.try_examples_button {
    background-color: #f7dc1e;
    border: none;
    padding: 5px 10px;
    border-radius: 15px;
    font-family: vibur;
    font-size: larger;
    box-shadow: 0 2px 5px rgba(108,108,108,0.2);
}

.try_examples_button:hover {
    background-color: #fff221;
    transform: scale(1.02);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.try_examples_button_container {
    display: flex;
    justify-content: flex-end;
}
